/**************Estilizando tabelas **************/

/*
body {
	font-family: "trebuchet Ms", helvetica, sans-serif;
}


table {
	width: 600px;
	border-collapse: separate; /*collapse*/
/*}

/*

th, td {
	padding: 7px;
}



th {
	text-transform: uppercase; /* letras maiusculas *//*
	border-top: 1px solid #999;   /*borda superior*//*
	border-bottom: 1px solid #111;  /*borda inferior*//*
	text-align: left; /*alinhar o texto*//*
	font-size: 90%; /* tamanho da fonte*//*
	letter-spacing: 0.1em;  /*Espaçamento entre as letras*//*
}




/* diferenciar a cor das linhas *//*
tr.alternado {
	background-color: #efefef;
}



/*Alinhando as linhas*//*
.numero {
	text-align: right;
}



tr:hover {
	background-color: #c3e6e5;
}


*/

/********************ESTILIZANDO FORMULÁRIOS**************************/
/*

body {
	font-family: "trebuchet MS", helvetica, sans-serif;
}


fieldset {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
	background: #f8f8f8;
}



/*Deixará mais escuro*//*
legend {
	font-weight: bold;
}



/* é um elemento tipo inline, por isso usa o display block*/
/*Cursor pointer muda o curso do mouse para uma mao*//*
label {
    cursor: pointer;
	display: block;
}


input [type="text"] {
	width: 20em;
}

textarea {
	width: 20em;
	height: 10em;
}

/*seletor de atributo
[]cochete*/

/*
input.radio, input.checkbox, input.submit {
	width: auto;
}


/******************Estilizando formulários parte 2**************************************************/



body {
font-family: "Trebuchet Ms", helvetica, sans-serif;
background: #643d87 url(../imagens/fundo.jpg) no-repeat top center;

}

/*definir - largura, altura, plano de fundo com transparência 0.3 rgba, borda radius canto mais redondo,  
margem 0 auto deixou no centro. text-align deixou centralizado.
configuração de prefixo:;
-webkit-border-radius:10px;
-moz-border-radius:10px;*/

#container {

	width: 400px;
	height: 300px;
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
}


#container img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}


/*margin bottom separou os espaços entre os formularios */
input {
	height: 40px;
	width: 80%;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	background-repeat: no-repeat;
	background-position: 10px;

}


input.email {
	background-image: url(../imagens/icone-usuario.png);
	}

input.senha {
	background-image: url(../imagens/icone-cadeado.png);
}


/*linear-gradient é um degradê de duas cores **/

input.submit {
	color: #fff;	
	background-color: #f79300;
	border: 2px solid #db7d00;
	padding: 5px 20px;
	height: 45px;
	width: 90%;


	background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
	background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
	background: -o-linear-gradient(to bottom, #faa600, #f68a00);
	background: linear-gradient(to bottom, #faa600, #f68a00);



}