
/******Seletor universal - seleciona todos os elementos da página *******/
/*
* {
	border: 1px solid red;
}



/***Seletor de texto ***/

/*
h1{
	color: blue;
}


/***Seletor de classe ***/
/*
.verde {
	color: green;
	text-decoration: underline;
}


/***Seletor de ID ***/
/*
#cabecalho {
	border: 6px solid purple;
}


/***Seletor de filho direto de outro. lê da direita pra esquerda. Permite selecionar elementos que estão diretamente 
dentro de um outro elemento ***/

/*
li>a {
	color: blue;
	text-decoration: none;

}

/**Seletor de descendente de outro elemento, mesmo que ele seja filho direto de outro elemento diferente.***/

/*
li a {
	color: blue;
	text-decoration: none;

}


/******Seletor de irmão adjacente (logo abaixo)- seleciona um elemento que é irmão próximo do outro***********/
/*
h1+p {

}

/*************Seletor de irmão geral- basta que o paragrafos sejam irmãos,
 tem que ser após do elemento que pedir  *************/
/*
h1~p{

}


*/

/*
span~p {
	background: yellow;
}
}

*/


/**folha de estilo em cascata**/
/****************HERANÇA E ESPECIFICIDADE***********************/

/*Exemplo de herança é a configuração de elementos dentro do body na folha de estilo**/

/*exemplo de especificidade no caso de dois seletores iguais sempre o ultimo que será aplicado,
 excessao é se colocar após a declaração o nome !important que define o quanto é importante a propriedade.*/

/**Se um seletor for mais especifico que outro a regra mais especificada será aplicada.
em ordem de especificidade:  h2#amarelo, h2.verde, h2;

exemplo: * {
	color: red;
	}


	h2 {
	color: blue;
	}


**/



/*************BARRA DE NAVEGAÇÃO VERTICAL *****************/
/*


ul {
	list-style-type: none; 
	margin: 0;
	padding: 0;
}




/**text-ident - impurra o texto. **/
/**font size - é o tamanho da fonte**/
/** line height - define a altura da linha em que está o texto, o tamanho será igual ao do height**/
/*
ul a {
	border: 1px solid red;
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background:#f7b600 url(../imagens/menu.png) no-repeat left bottom;

}



/*
/*MOVIMENTAR BACKGROUNG */

/*
a:hover, .selecionado a {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}


#home #navegacao .home a,
#sobre #navegacao .sobre a, 
#servicos #navegacao .servicos a, 
#noticias #navegacao .noticias a,
#contatos #navegacao .contatos a{
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;


}


/**
li {
	padding: 5px 20px;
	background: url(../imagens/seta.png) no-repeat left center;

}





/*************BARRA DE NAVEGAÇÃO HORIZONTAL *****************/
/*
ul {
	margin: 0;
	padding: 0;
	list-style: none;
		width: 720px;
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
	float: left;
}


ul li {
	
	float: left;

}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2em;
	text-decoration: none;
	color: white;
	background: url(../imagens/divisor.png) repeat-y left top;
}

ul .primeiro a {
	background-color: none;
}

ul a:hover {
	color: #085662;
	background-color: #44cade;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a{
	color: #085662;
	background: #44cade;
}


*/

/*********************BARRA DE NAVEGAÇÃO COM ABAS ***************/

/*
body {
	font-family: "trebuchet MS", helvetica, sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;

}

/*Deve aplicar um background dentro do <li> esse será right  e depois dentro do link <a> esse será left*/
/*
ul li {

	float: left;
	background: url(../imagens/aba-direita.png) no-repeat top right;
}


li a {
	
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	background: url(../imagens/aba-esquerda.png)no-repeat top left;
	color: white;
}

/*Mostrar a cor diferente no link ao passar o mouse */
/*
ul a:hover {
	color: #894a1f;
}

/*marcar o menu quando está ativo, podendo fazer esse ajuste do id somente no campo desejado
da pagina, exemplo no index coloquei apenas no home, no servico coloquei só nele*/

/*
ul #atual {
	background: url(../imagens/aba-direita-atual.png)no-repeat top right;
}

ul #atual a {
	background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;

}


*/

/*Layout fixo quando reduz quase nao da pra aparecer e quando aumenta o tamanho dele sobra muito espaço lateral */

body {
	font-family: "trebuchet MS", helvetica, sans-serif;
	background: #f2f2f2;
}


/* width define a largura , margin usando 0 foi para o superior e interior o auto (laterais) deixou 
todo o conteudo no centro do site*/

#container {
	border: 1px solid red;
	width: 960px; /*85%; /*720px;*/
	margin:0 auto;
	background: #fff url(../imagens/coluna.png) repeat-y left top;
	min-width: 720px; /*define uma largura minima*/
	max-width: 1280px;  /*define o tamanho maximo da largura*/
	/*min-height: define uma altura minima*/
	/*max-height: define uma altura maxima */
}


/*height - altura / text-align centralizou o texto / 
line-height centralizou a largura do texto superior e inferior  */

#marca {
	width: 100%;
	height: 200px;
	background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
	text-align: center;
	line-height: 200px;
}


/* definiu a lagura menor que o container e float para que a navegacao fique à direita*/

#conteudo {
	width: 75%; /*520px; 520*100/700=74.28*/
	float: right;
}


#conteudo-principal {

	width: 63%; /*320px; 320*100/500= 64*/
	float: left;
}

img.img-noticia {

	width: 94%;
	padding: 2%;
	max-width: 600px;
}

#conteudo-secundario {

	width:34%; /*180px; 180*100/500=36*/
	float: right;
	background: #d1d1d1;
}


#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

/* definiu a largura menor que o container a diferença da soma do 
width do conteudo com o navegacao será o espaço entre os dois,
float para que a navegacao fique à esquerda, 
padding top espaçamento superior
padding bottom espaçamento inferior
*/

#navegacao {
	width: 23%; /*180px;   180*100/700= 25.71 */
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	/*background: #d1d1d1;*/
}

/*Retirou o ponto da listagem */
#navegacao ul {
	list-style: none;
}

/*retirou o underline*/
#navegacao li a {
	text-decoration: none;
}

/*Clear both para limpar a propridade flutuante que é o float. 
E usou o espaçamento */

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}

/*
#imagem {
	width: 90%;
	border: 1px solid red;
	overflow: hidden; /*esconder o conteudo que ultrapassar das áreas da imagem
}
	*/


