.texto {
	color: gray;
	}

body {
	background-image: url(imagens/fundo.png);
	background-color: white;
	width: 800px;
}

.borda {
	border: 1px;
	border-color: white;
	border-style: dotted;
}


.resumo {
	background-color: white;
}

#rodape {
	color:   black ;
	font-weight: 900;

}

div {
	background-color: white;
}

a {
	color: gray;
	font-weight: 900
}

.fotinhas {
	border width: 2000px;
	border-color: gray;
	border-style: solid;
}