html {
	cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body {
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
}


.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	bottom: 0px;
	left: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas {
	float: left;

}
.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}


.mosca1 {
	width: 50px;
	height: 50px;
}

.mosca2 {
	width: 70px;
	height: 70px;
}

.mosca3 {
	width: 90px;
	height: 90px;
}

.ladoA {
	transform: scaleX(1);   /*Informa o lado normal da imagem*/
}

.ladoB{
	transform: scaleX(-1); /*Inverso da imagem*/

}